/BIT_pipelined_cpu/BIT_pipelined_cpu.cache/
/BIT_pipelined_cpu/.Xil/
/BIT_pipelined_cpu/BIT_pipelined_cpu.hw/
/BIT_pipelined_cpu/BIT_pipelined_cpu.ip_user_files/
/BIT_pipelined_cpu/BIT_pipelined_cpu.sim/
*.log
*.jou
*.str